@{

}
@model MrFixIt.Models.Job

@*make into AJAX action and add javascript to this file*@

<h2>Would you like to do this job?</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)

    <h4>@Model.Title</h4>
    <input type="submit" class="claim-job" value="Claim This Job" />
}

<div id="jobClaimed"></div>

<p>@Html.ActionLink("Back to list", "Index")</p>

<script>
$('.claim-job').click(function () {
    $.ajax({
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json',
        url: '@Url.Action("Claim")',
        success: function (result) {
        var resultString = 'Id: ' + result.id + '<br>Ttile: ' + result.title + '<br>Description: ' + result.description;
        $('#jobClaimed').html(resultString);
        }
    });
});
</script>