@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Worker Dashboard";
}

@*mark up with AJAX for jobs pending or completed*@

@if (User.Identity.IsAuthenticated)
{

    <div class="container">
        <h3>Hello Worker @Model.FirstName @Model.LastName. You're loggen in.</h3>
        <h4>Your Current Jobs:</h4>
        @foreach (var Job in Model.Jobs)
        {
            <div class="container active-@Job.Pending">
                <div class="panel-@Job.Completed">
                    <h3>@Job.Title</h3>
                    @if (!Job.Pending)
                        {
                        @if(Job.Worker.Avaliable )
                        {
                        <form action="active" class="active-job">
                            <input type="hidden" name="id" value="@Job.JobId" />
                            <button type="submit" id="@Job.JobId">Declare Active</button>
                        </form>
                        }
                    }
                    @if (Job.Pending)
                        {
                        @if (!Job.Completed)
                        {
                        <form action="complete" class="completed-job">
                            <input type="hidden" name="id" value="@Job.JobId" />
                            <button type="submit" class="test" id="@Job.JobId">Complete</button>
                        </form>
                        }
                        @if(Job.Completed)
                        {
                            <p>Thank you for fixing that! You are appreciated.</p>
                        }
                    }
                </div>
            </div>
        }
    </div>
    <div class="container">
        @if (Model.Avaliable)
        {
            <h3>Please @Html.ActionLink("select a job", "Index", "Jobs").</h3>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
}