@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Worker Dashboard";
}

@*mark up with AJAX for jobs pending or completed*@

@if (User.Identity.IsAuthenticated)
{

    <div class="text-left">
        <h2>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h2>
        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
            <h3>@Job.Title</h3>
            <p class="status">
                <input type="button" name="pending" value="pending" id="pending"> | 
                <input type="button" name="completed" value="completed" id="completed">
            </p>
        }
        @if (Model.Avaliable)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
    <h3>Active Jobs:</h3>
    <div class="pendingJobs">

    </div>
    <h3>Jobs Completed:</h3>
    <div class="completedJobs">

    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#pending').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("true")',
                success: function (result) {
                $('.pendingJobs').html(result);
                }
        });
        });
        $('#completed').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("true")',
                success: function (result) {
                    $('.completedJobs').html(result);
                }
            });
        });
});
</script>